#poke-detail-view .wrapper {
  display: grid;
  grid-template-columns: 40% 10% 50%;
  column-gap: 1.5rem;
}

#poke-detail-view .wrapper .perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#poke-detail-view .wrapper .perfil img {
  height: 10rem;
}

#poke-detail-view .wrapper .perfil h3 {
  text-transform: capitalize;
  margin: 1.8rem 0;
}

#poke-detail-view .wrapper .perfil .poke-types small {
  background-color: rgb(51, 207, 225);
  color: #fff;
  padding: .4rem 1rem;
  border-radius: .4rem;
}

#poke-detail-view .wrapper .perfil .poke-types small:first-child {
  margin-right: .8rem;
}

#poke-detail-view .wrapper .separator {
  border-left: 1px solid #ddd;
  height: 22rem;
  margin: 0 2.4rem;
}

#poke-detail-view .wrapper .info {
  display: flex;
  align-items: center;
}

#poke-detail-view .wrapper .info ul {
  list-style: none;
}

#poke-detail-view .wrapper .info ul li + li {
  margin-top: 1.4rem;
}

#poke-detail-view .wrapper .info ul li span {
  margin-left: .4rem;
  font-weight: bold;
}

#poke-detail-view button {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  border: 0;
  background-color: #c30cdc;
  color: #fff;
  border-radius: .8rem;
  cursor: pointer;
  transition: all .2s;
  outline: none;
}

#poke-detail-view button:hover {
  background-color: #a709bb;
}

#poke-detail-view button h3 {
  font-weight: 400;
  margin-right: .8rem;
}

#poke-detail-view button h3 span{
  text-transform: capitalize;
}

@media screen and (max-width: 400px) {
  #poke-detail-view .perfil img {
    height: 9rem;
  }

  #poke-detail-view .perfil h3 {
    font-size: 1.6rem;
  }
}



